
.menu-btn {
  cursor: pointer;
  font-size: 20px;
}

.drawer {
  display: none;
  background-color: #333;
  padding: 15px;
  position: fixed;
  top: 0;
  left: -250px; /* Set initial position off-screen */
  width: 250px;
  height: 100%;
  transition: 0.5s; /* Add animation transition */
}

.drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer li {
  padding: 10px 0;
}

.drawer a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Animation for opening and closing the drawer */
.drawer-open {
  left: 0;
}
